html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

body {
  font-family: 'Oswald', Helvetica, sans-serif;
  font-family: 'Source Sans Pro', sans-serif;
  font-family: 'Lato', sans-serif;
  margin: 0; }

.hero-container::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0f0f0f;
  opacity: 0.4;
  height: 705px;
  z-index: -1; }

.hero-container {
  background-image: url(../sunset.jpg);
  height: 705px;
  display: block;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1; }

.logo {
  background-image: url(../logo.png);
  background-size: cover;
  height: 150px;
  width: 150px;
  z-index: 1;
  vertical-align: middle;
  display: block;
  margin-left: 43%;
  margin-top: 4%; }

@media screen and (max-width: 640px) {
  .logo {
    margin-top: 1%; } }

.hero-text {
  width: 100%;
  text-align: center; }

.hero-text {
  float: left;
  display: block;
  margin-right: 0%;
  width: 100%;
  display: block;
  font-size: 80px;
  color: white;
  max-width: 1280px;
  z-index: 1;
  font-family: 'Oswald' sans-serif;
  font-weight: bold;
  margin-right: 0;
  margin-top: 3%;
  position: absolute;
  left: 0;
  letter-spacing: 5px; }

.hero-text:last-child {
  margin-right: 0; }

.Small-text {
  color: white;
  display: block;
  height: 10px;
  z-index: 1;
  margin-top: 16%;
  position: absolute;
  top: 0;
  left: 33%;
  right: 0;
  bottom: 0;
  margin-bottom: 10%;
  font-size: 22px;
  font-family: 'Lato' sans-serif;
  font-weight: 100; }

@media screen and (max-width: 640px) {
  .Small-text {
    margin-top: 23%;
    left: 18%; } }

.subhero {
  color: #9ea1a2;
  display: block;
  position: absolute;
  font-size: 25px;
  top: 53%;
  left: 33%; }

@media screen and (max-width: 640px) {
  .subhero {
    left: 15%;
    top: 60%; } }

.header-container {
  height: 90px;
  background-color: #282c34;
  display: block;
  margin-top: 705.2px; }

.about {
  color: white;
  display: inline-block;
  margin-left: 190px;
  padding-right: 30px;
  margin-top: 0;
  margin-right: 15px; }

@media screen and (max-width: 640px) {
  .about {
    margin-left: 0;
    padding-right: 5px;
    margin-top: 30px; } }

.products {
  color: white;
  display: inline-block;
  padding-right: 30px;
  margin-right: 20px; }

@media screen and (max-width: 640px) {
  .products {
    padding-right: 5px; } }

.swamprabbit {
  color: white;
  display: inline-block;
  padding-right: 30px; }

@media screen and (max-width: 640px) {
  .swamprabbit {
    padding-right: 5px; } }

.logo-header {
  background-image: url(../logo.png);
  height: 50px;
  width: 50px;
  display: inline-block;
  background-size: cover;
  margin-right: 30px;
  margin-top: 9px; }

@media screen and (max-width: 640px) {
  .logo-header {
    height: 0;
    width: 0; } }

.blog {
  color: white;
  display: inline-block;
  padding-right: 30px;
  margin-right: 20px; }

@media screen and (max-width: 640px) {
  .blog {
    padding-right: 5px; } }

.media {
  color: white;
  display: inline-block;
  padding-right: 30px;
  margin-right: 20px; }

@media screen and (max-width: 640px) {
  .media {
    padding-right: 5px; } }

.contact {
  color: white;
  display: inline-block; }

.heading1 {
  display: inline-block;
  margin-left: 450px;
  margin-top: 60px; }

@media screen and (max-width: 640px) {
  .heading1 {
    margin-left: 130px; } }

.heading2 {
  display: inline-block;
  color: #ef1606; }

@media screen and (max-width: 640px) {
  .heading2 {
    position: relative;
    bottom: 68px;
    left: 5px;
    top: 1px; } }

.question {
  display: inline-block; }

@media screen and (max-width: 640px) {
  .question {
    position: relative;
    bottom: 135px;
    left: 5px;
    top: 1px; } }

.paragraph1 {
  width: 590px;
  margin-left: 330px; }

@media screen and (max-width: 640px) {
  .paragraph1 {
    position: relative;
    margin-left: 100px;
    width: 450px;
    bottom: 110px;
    top: 10px; } }

.article-container:hover::before {
  background-color: white;
  opacity: .01; }

.article-container::before {
  content: "";
  display: block;
  position: absolute;
  top: 795px;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #0f0f0f;
  opacity: 0.3;
  height: 401px;
  z-index: 1; }

.shop-button {
  float: left;
  display: block;
  margin-right: 0%;
  width: 33.33333%; }

.shop-button:last-child {
  margin-right: 0; }

.shop-buttons {
  width: 150px;
  color: white;
  background-color: black;
  height: 3.4375em;
  display: block;
  margin-left: 530px; }

@media screen and (max-width: 640px) {
  .shop-buttons {
    margin-left: 220px;
    margin-top: 20px; } }

.article-list {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  list-style-type: none;
  padding-left: 30px;
  padding-right: 30px;
  position: absolute;
  top: 1180px; }

.article-list::after {
  clear: both;
  content: "";
  display: table; }

.article1 {
  float: left;
  display: block;
  margin-right: 0%;
  width: 50%;
  border-top: thin solid gray; }

.article1:last-child {
  margin-right: 0; }

@media screen and (max-width: 640px) {
  .article1 {
    float: left;
    display: block;
    margin-right: 0%;
    width: 100%; }
  .article1:last-child {
    margin-right: 0; } }

.articles {
  width: 80%;
  height: 330px;
  margin-top: 0;
  padding-left: 10px; }

.learn-more-button {
  float: left;
  display: block;
  margin-right: 0%;
  width: 16.66667%; }

.learn-more-button:last-child {
  margin-right: 0; }

.learn-more-buttons {
  width: 150px;
  color: white;
  background-color: black;
  height: 3.4375em;
  margin-top: 10px; }

.photobanner-container {
  width: 1280px;
  overflow: hidden; }

.photobanner-list {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  list-style-type: none;
  padding-left: 0;
  margin-top: 840px; }

.photobanner-list::after {
  clear: both;
  content: "";
  display: table; }

@media screen and (max-width: 640px) {
  .photobanner-list {
    margin-top: 1450px; } }

.photo {
  float: left;
  display: block;
  margin-right: 0%;
  width: 25%; }

.photo:last-child {
  margin-right: 0; }

.photobanner-list:hover::before {
  background-image: white;
  opacity: .01;
  height: 300px; }

.photobanner-list::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #0f0f0f;
  opacity: 0.3;
  height: 300px;
  z-index: 1;
  margin-top: 1930px; }

@media screen and (max-width: 640px) {
  .photobanner-list::before {
    top: 650px; } }

.photos {
  background-image: url(../trail1.jpg);
  height: 300px;
  width: 100%;
  background-size: cover; }

.photos1 {
  background-image: url(../trail4.jpg);
  height: 300px;
  width: 100%;
  background-size: cover; }

.photos2 {
  background-image: url(../trail2.jpg);
  height: 300px;
  width: 100%;
  background-size: cover; }

.photos3 {
  background-image: url(../trail3.jpg);
  height: 300px;
  width: 100%;
  background-size: cover; }

.location-list {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  list-style-type: none;
  padding-left: 0; }

.location-list::after {
  clear: both;
  content: "";
  display: table; }

.location {
  float: left;
  display: block;
  margin-right: 0%;
  width: 50%; }

.location:last-child {
  margin-right: 0; }

.locations {
  width: 80%;
  height: 330px;
  margin-top: 0;
  padding-left: 10px; }

.googlemap {
  background-image: url(../googlemap.png);
  width: 80%;
  height: 300px;
  background-size: cover;
  background-position: center;
  position: relative;
  bottom: 10px; }

.direction-button {
  float: left;
  display: block;
  margin-right: 0%;
  width: 33.33333%; }

.direction-button:last-child {
  margin-right: 0; }

.directions {
  width: 150px;
  color: white;
  background-color: black;
  height: 3.4375em;
  margin-top: 10px; }

.locationlist-container {
  border-bottom: thin solid gray;
  margin-left: 30px;
  margin-right: 30px; }

.News {
  display: inline-block;
  float: left;
  padding-top: 10px; }

.allarticles-button {
  float: left;
  display: block;
  margin-right: 0%;
  width: 33.33333%; }

.allarticles-button:last-child {
  margin-right: 0; }

.all-articles {
  width: 150px;
  color: white;
  background-color: black;
  height: 3.4375em;
  margin-top: 10px;
  display: inline-block;
  float: right;
  position: relative;
  top: 20px;
  left: 700px; }

.news-container {
  border-top: thin solid gray; }

.news-list {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto; }

.news-list::after {
  clear: both;
  content: "";
  display: table; }

.new {
  float: left;
  display: block;
  margin-right: 0%;
  width: 33.33333%; }

.new:last-child {
  margin-right: 0; }

.new:nth-child(3n) {
  margin-right: 0; }

.new:nth-child(3n+1) {
  clear: left; }

.news {
  width: 90%;
  height: 550px;
  margin-top: 20px;
  border-top: thin solid gray;
  border-right: thin solid gray;
  padding-right: 10px; }

.circle {
  height: 60px;
  width: 60px;
  border-radius: 100%;
  background-color: black;
  color: white;
  text-align: center;
  font-size: 20px;
  margin-top: 10px;
  padding-top: 15px;
  margin-left: 50px; }

.news-image1 {
  background-image: url(../swamprabbit.jpg);
  height: 200px;
  width: 230px;
  margin-left: 70px;
  background-size: cover; }

.news-image2 {
  background-image: url(../healthy.jpg);
  height: 200px;
  width: 230px;
  margin-left: 70px;
  background-size: cover; }

.news-image3 {
  background-image: url(../bikers.jpg);
  height: 200px;
  width: 230px;
  margin-left: 70px;
  background-size: cover; }

.readfull {
  color: #ef1606; }

.footer-container {
  background-color: #282828;
  height: 520px;
  margin: 0; }

.footer-list {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto; }

.footer-list::after {
  clear: both;
  content: "";
  display: table; }

.footer {
  float: left;
  display: block;
  margin-right: 0%;
  width: 25%;
  margin-top: 50px; }

.footer:last-child {
  margin-right: 0; }

.footer:nth-child(4n) {
  margin-right: 0; }

.footer:nth-child(4n+1) {
  clear: left; }

.footer-head {
  color: white; }

.footers {
  color: #9a9d9e;
  width: 40%;
  height: 200px; }

.subcribe-button {
  float: left;
  display: block;
  margin-right: 0%;
  width: 33.33333%; }

.subcribe-button:last-child {
  margin-right: 0; }

.subcribe {
  width: 150px;
  height: 3.4375em;
  color: white;
  background-color: #ef1606; }

.logo-footer {
  background-image: url(../logo.png);
  height: 90px;
  width: 90px;
  background-size: cover;
  margin-left: 570px; }

.allrights {
  color: white;
  display: inline-block;
  position: relative;
  float: left;
  margin-left: 50px; }

.sitesignature {
  color: white;
  display: inline-block;
  position: relative;
  float: right;
  margin-right: 50px; }
